version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"

  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
    ignore:
      - dependency-name: "nix"

  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
