[package]
name = "python-launcher"
description = "The Python launcher for Unix"
version = "0.15.0"
authors = ["Brett Cannon <brett@python.org>"]
repository = "https://github.com/brettcannon/python-launcher"
readme = "README.md"
license = "MIT"
keywords = ["Python"]
categories = ["command-line-utilities"]
edition = "2018"

[badges]
maintenance = { status = "experimental" }

[dependencies]
comfy-table = "2.1.0"
exitcode = "1.1.2"
human-panic = "1.0.3"
log = "0.4.14"
nix = "0.19.1"
stderrlog = "0.5.1"

[dev-dependencies]
serial_test = "0.5.1"
serial_test_derive = "0.5.0"
tempfile = "3.2.0"
test-case = "1.1.0"

[[bin]]
name = "py"
path = "src/main.rs"
